/* =======:: COLORS ::========== */
/* NOTE : modification to colors must also be updated in sakriDotNet.js colorService() */
/* =======:: GLOBAL ::========== */
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #edd8aa;
  font-family: Tahoma, Helvetica, Arial, Verdana, sans-serif;
}
#mainContainer {
  margin: 0px;
  background-color: #edd8aa;
  padding: 0px;
  overflow: hidden;
}
canvas {
  padding: 0px;
  /* from http://stackoverflow.com/questions/18508442/remove-whitespace-between-div-element */
  display: inline-block;
  margin: 0px;
  outline: none;
  vertical-align: top;
}
.bold {
  font-weight: bold;
}
.underConstruction {
  font-weight: bold;
  color: #f25a2b;
}
#portfolioXml {
  display: none;
}
a {
  outline: 0;
}
/* =======:: HEADER ::========== */
header {
  height: 105px;
  background-color: #f25a2b;
  text-align: center;
}
header h1 {
  display: none;
}
/* =======:: NAVS  ::========== */
#siteNavigation {
  height: 34px;
  text-align: center;
  background-color: #f25a2b;
  padding-top: 10px;
}
nav h2 {
  display: none;
}
nav ul {
  margin: 0px;
  padding: 0px;
}
nav li {
  list-style-type: none;
  display: inline;
  margin-top: 10px;
}
.navItem {
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}
.navItem:link {
  color: #ffffff;
}
.navItem:visited {
  color: #ffffff;
}
.navItem:focus {
  color: #edd8aa;
}
.navItem:hover {
  color: #edd8aa;
}
.navItem:active {
  color: #edd8aa;
}
.navItem.selectedNavItem {
  background-color: #edd8aa;
  color: #f25a2b;
  border-radius: 8px 8px 0px 0px;
}
.navItem.selectedPortfolioNavItem {
  background-color: #bcc0d2;
  border-radius: 8px 8px 0px 0px;
  color: #ffffff;
}
/* =======:: SECTIONS ::========== */
section {
  background-color: #edd8aa;
  overflow: auto;
  padding: 5px;
}
section h2 {
  display: none;
}
section a {
  font-weight: bold;
}
section a:link {
  color: #f25a2b;
}
section a:visited {
  color: #f25a2b;
}
section a:focus {
  color: #bcc0d2;
}
section a:hover {
  color: #bcc0d2;
}
section a:active {
  color: #bcc0d2;
}
.paddedContent {
  margin-left: 25%;
  margin-right: 25%;
}
#profilePic {
  float: left;
  border-style: solid;
  border-width: 8px;
  border-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
/* =======:: PORTFOLIO ::========== */
/* sizes and positioning controlled with javascript */
#portfolio {
  padding: 0px;
  margin-bottom: 5px;
}
#yearSelector {
  position: absolute;
  left: 0px;
  top: 150px;
}
#calenderCanvas {
  display: inline;
  cursor: pointer;
}
/*position: relative; padding-top: 15px;*/
#portfolioControls {
  background-color: #bcc0d2;
  width: 100%;
  height: 90px;
  text-align: center;
  padding-top: 12px;
}
/* THUMBS SCROLLER position: relative; */
#portfolioThumbsScroller {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 76px;
}
#portfolioThumbnailsListContainer {
  display: block;
  position: relative;
  margin: 0px;
  left: 0px;
  top: 0px;
  padding: 0px;
  height: 76px;
  overflow: hidden;
  white-space: nowrap;
}
/*position: absolute;*/
#portfolioThumbnailsList {
  white-space: nowrap;
  position: absolute;
  display: inline;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  height: 76px;
  overflow: hidden;
}
.portfolioThumbnailsListImg {
  margin: 0px;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  padding: 0px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.portfolioThumbnailsListImg:hover {
  border-color: #f25a2b;
}
.portfolioThumbnailsListImg.selectedThumb {
  border-color: #f25a2b;
}
#calenderImg {
  cursor: pointer;
}
/*LEFT & RIGHT buttons*/
#portfolio button:focus {
  outline-width: 0;
}
.scrollButton {
  background-repeat: no-repeat;
  border-width: 0px;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
#portfolioLeftButton {
  width: 15px;
  height: 66px;
  background-image: url("../assets/PortfolioLeftButtonUp.png");
}
#portfolioLeftButton:active {
  background-image: url("../assets/PortfolioLeftButtonDown.png");
}
#portfolioLeftButton:hover {
  background-image: url("../assets/PortfolioLeftButtonDown.png");
}
#portfolioRightButton {
  width: 15px;
  height: 66px;
  background-image: url("../assets/PortfolioRightButtonUp.png");
}
#portfolioRightButton:active {
  background-image: url("../assets/PortfolioRightButtonDown.png");
}
#portfolioRightButton:hover {
  background-image: url("../assets/PortfolioRightButtonDown.png");
}
#portfolioImageContainer {
  text-align: center;
  margin-top: 10px;
}
#portfolioImageContainer img {
  max-width: 100%;
  height: auto;
}
#portfolioFrameContainer {
  text-align: center;
  margin-top: 10px;
}
#projectInfo {
  text-align: center;
}
.portfolioNavButton {
  cursor: pointer;
}
.portfolioNavButton {
  font-weight: bold;
}
.portfolioNavButton:link {
  color: #f25a2b;
}
.portfolioNavButton:visited {
  color: #f25a2b;
}
.portfolioNavButton:focus {
  color: #bcc0d2;
}
.portfolioNavButton:hover {
  color: #bcc0d2;
}
.portfolioNavButton:active {
  color: #bcc0d2;
}
/* =======:: CV ::========== */
#cv a {
  cursor: pointer;
}
#cv div {
  clear: both;
  padding-top: 20px;
}
#cv img {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.cvSubSection {
  font-weight: bold;
  clear: both;
  padding-top: 30px;
}
/* =======:: CONTACT  ::========== */
.formTitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #f25a2b;
}
.formSubmitButton {
  margin-top: 22px;
  border: 2px solid #ffffff;
  padding: 5px 5px 3px 3px;
  font-size: 18px;
  background-color: #f25a2b;
  font-weight: bold;
  color: #ffffff;
  cursor: hand;
  cursor: pointer;
  height: 45px;
  width: 100%;
}
.formSubmitButton:active {
  background-color: #ffffff;
  border-color: #f25a2b;
  color: #f25a2b;
}
.formSubmitButton:hover {
  background-color: #ffffff;
  border-color: #f25a2b;
  color: #f25a2b;
}
#contactTextArea {
  font-size: 14px;
  resize: none;
  width: 99%;
  height: 140px;
}
#contactEmailInput {
  width: 99%;
  font-size: 14px;
}
/* =======:: FOOTER ::========== */
footer {
  width: 100%;
  text-align: center;
}
.socialMediaImageLink {
  text-decoration: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
}
#socialMediaBar {
  margin-top: 60px;
}
#socialMediaBar a {
  cursor: pointer;
}
/* ---------------------- RESPONSIVE ---------------------- */
@media only screen and (max-width: 1000px) {
  .paddedContent {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .paddedContent {
    margin-left: 10%;
    margin-right: 10%;
  }
  #profilePic {
    width: 40%;
    height: auto;
  }
  /* padding-top:10px; */
  #siteNavigation {
    height: 27px;
  }
  .navItem {
    font-size: 18px;
  }
}
@media only screen and (max-width: 400px) {
  .paddedContent {
    margin-left: 2%;
    margin-right: 2%;
  }
  .navItem {
    font-size: 14px;
  }
  #siteNavigation {
    height: 23px;
  }
}
