<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-393774-1"></script>
    <script>
        if(location.href.indexOf("localhost") === -1){
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-393774-1');
        }

    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-0047234248896096",
            enable_page_level_ads: true
        });
    </script>

    <!-- site metadata -->
    <meta name="Resource-type" content="Document"/>
    <meta name="author" content="Sakri Rosenstrom" />
    <meta name="description" content="Sakri Rosenstrom is a Brussels based freelance front end developer with 20 years experience crafting UIs, interaction, components, architectures, visualizations and effects for websites, applications and games" />
    <meta name="keywords" content="Sakri, Rosenstrom, 54kr1, html5, html5 Canvas, canvas, javascript, js, css, css3, svg, angular, polymer, front end, frontend, developer, freelance, creative, creative coder, coder, programmer,  brussels, belgium, workshops" />

    <title>{pageTitle}</title>

    <!-- Open Graph data -->
    <meta property="og:site_name" content="Sakri Rosenstrom - Frontend Developer and Creative Coder, Brussels"/>
    <meta property="og:title" content="Sakri Rosenstrom - Frontend Developer Brussels : {pageOgTitle}" />
    <meta property="og:description" content="Sakri Rosenstrom is a Brussels based freelance front end developer with 20 years experience crafting UIs, interaction, components, architectures, visualizations and effects for websites, applications and games"/>
    <meta property="og:image" content="https://www.sakri.net/assets/thumbnail.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{pageOgUrl}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Sakri Rosenstrom - Frontend Developer Brussels : {pageTwitterTitle}">
    <meta name="twitter:description" content="Sakri Rosenstrom is a Brussels based freelance front end developer with 20 years experience crafting UIs, interaction, components, architectures, visualizations and effects for websites, applications and games">
    <meta name="twitter:url" content="{pageTwitterUrl}">
    <meta name="twitter:image" content="https://www.sakri.net/assets/thumbnail.png">

    <!-- Icons -->
    <link href="https://www.sakri.net/assets/thumbnail.png" type="image/png" rel="image_src">
    <link href="https://www.sakri.net" rel="canonical">

    <link rel="apple-touch-icon" href="https://www.sakri.net/assets/icons/touch-icon-iphone.png" type="image/png">
    <link rel="apple-touch-icon" href="https://www.sakri.net/assets/icons/touch-icon-ipad.png" type="image/png" sizes="76x76">
    <link rel="apple-touch-icon" href="https://www.sakri.net/assets/icons/touch-icon-iphone-retina.png" type="image/png" sizes="120x120">
    <link rel="apple-touch-icon" href="https://www.sakri.net/assets/icons/touch-icon-ipad-retina.png" type="image/png" sizes="152x152">

    <link rel="icon" href="https://www.sakri.net/assets/icons/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="https://www.sakri.net/assets/icons/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="https://www.sakri.net/assets/icons/favicon-96x96.png" type="image/png" sizes="96x96">


    <link rel="stylesheet" href="https://www.sakri.net/css/pages.css" />

</head>

<body>

    <header>
        {pageHeader}
    </header>

    <nav>
        {pageNav}
    </nav>

    <main>
        {pageContent}
    </main>

    <footer>

        <H3>Find me on social media</h3>

        <nav id="socialMediaBar">
            <a href="https://www.linkedin.com/in/sakri/" target="_blank">
                <img src="https://www.sakri.net/assets/icons/socialMedia/linkedin_frontend_developer.png" alt="Sakri Rosenstrom Frontend Developer on LinkedIn" />
                linkedIn
            </a>
            <a href="https://www.twitter.com/sakri/" target="_blank">
                <img src="https://www.sakri.net/assets/icons/socialMedia/twitter_frontend_developer.png" alt="Sakri Rosenstrom Frontend Developer on twitter" />
                Twitter
            </a>
            <a href="https://www.instagram.com/54kr1/" target="_blank">
                <img src="https://www.sakri.net/assets/icons/socialMedia/instagram_frontend_developer.png" alt="Sakri Rosenstrom Frontend Developer on Instagram" />
                Instagram
            </a>
            <a href="https://codepen.io/sakri/" target="_blank">
                <img src="https://www.sakri.net/assets/icons/socialMedia/codepen_frontend_developer.png" alt="Sakri Rosenstrom Frontend Developer on CodePen" />
                Codepen
            </a>
            <a href="https://github.com/sakri/SakriDotNet" target="_blank">
                <img src="https://www.sakri.net/assets/icons/socialMedia/github_frontend_developer.png" alt="Sakri Rosenstrom Frontend Developer on Github" />
                Github
            </a>
        </nav>
    </footer>

    <details>
        <summary>Copyright 1998-2018.</summary>
        <p> - by Sakri.net and Sakri Rosenstrom Front End Developer. All Rights Reserved.</p>
        <p>All content, scripts and graphics on this web site are the property of Sakri Rosenstrom.</p>
    </details>

</body>

</html>